.error {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: calc(100% + 20px);
  display: block;
  text-align: center;
  color: var(--input-error);
  font: 400 11px/13px 'Inter', sans-serif;
  transition: opacity 350ms;
}

.error:empty {
  display: none;
}
