.portfolio__heading {
  color: var(--text-third);
  font: 400 18px/20px 'Inter', sans-serif;
  margin: 0 0 50px;
}

.portfolio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.portfolio__list-item {
  display: flex;
  justify-content: space-between;
  font: 400 30px/50px 'Inter', sans-serif;
  letter-spacing: -0.04em;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__list-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0;
}

.portfolio__link {
  color: var(--text-default);
  text-decoration: none;
}

.portfolio__list-item::after {
  content: '↗';
  display: block;
  font: 400 30px/60px 'Inter', sans-serif;
}

@media screen and (max-width: 1279px) {
  .portfolio__list-item {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__heading {
    font-size: 14px;
    margin: 0 0 40px;
  }

  .portfolio__list-item,
  .portfolio__list-item::after {
    font-size: 18px;
    line-height: 28px;
  }
}
