.profile {
  display: grid;
  grid-template-rows: 74px 1fr 172px;
  min-height: 100vh;
}

.profile__content {
  background-color: var(--background-default);
}

@media screen and (max-width: 767px) {
  .profile {
    grid-template-rows: 74px 1fr 243px;
  }
}
