.promo {
  background-color: var(--background-second);
}

.promo__content {
  min-height: 510px;
  padding: 50px 70px 0;
  max-width: 1140px;
  margin: 0 auto;
  background-image: url("../../images/back__landing-1280.svg");
  background-size: 722px 244px;
  background-position: bottom 60px right 70px;
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0;
  max-width: 620px;
  letter-spacing: -0.04em;
  font: 400 40px/52px 'Inter', sans-serif;
  color: var(--text-default);
}

@media screen and (max-width: 1280px) {
  .promo__content {
    min-height: 544px;
    padding: 300px 50px 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: 680px 230px;
    background-position: bottom 70px center;
  }
}

@media screen and (max-width: 768px) {
  .promo__title {
    font: 400 31px/39px 'Inter', sans-serif;
  }

  .promo__content {
    min-height: 447px;
    padding: 183px 10px 0;
    background-position: bottom 40px center;
  }
}
