.heading {
  font: 400 22px/27px 'Inter', sans-serif;
  color: var(--text-default);
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--text-default);
}

@media screen and (max-width: 767px) {
  .heading {
    font: 400 18px/22px 'Inter', sans-serif;
    padding-bottom: 28px;
  }
}
