.movies {
  display: grid;
  grid-template-rows: 70px 1fr 172px;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

.movies__content {
  background-color: var(--background-default);
}

.movies__more-wrap {
  padding: 47px 70px 83px;
}

.movies__more-button {
  width: 100%;
  height: 36px;
  font: 500 12px/15px 'Inter', sans-serif;
  color: var(--text-default);
  background-color: var(--background-third);
  border: 0;
  border-radius: 6px;
}

@media screen and (max-width: 1279px) {
  .movies__more-wrap {
    padding: 50px 30px 80px;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    grid-template-rows: 74px 1fr 243px;
  }

  .movies__more-wrap {
    padding: 50px 10px 80px;
  }
}
