.techs {
  background-color: #f5f5f5;
}

.techs__content {
  padding: 100px 70px 100px;
  max-width: 1140px;
  margin: 0 auto;
}

.techs__heading {
  margin: 0 0 90px;
}

.techs__subheading {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 26px;
  font: 400 50px/58px 'Inter', sans-serif;
  letter-spacing: -0.04em;
}

.techs__text {
  text-align: center;
  max-width: 460px;
  margin: 0 auto 100px;
  font: 400 14px/20px 'Inter', sans-serif;
  letter-spacing: -0.04em;
}

.techs__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0 auto;
}

.techs__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  font: 400 14px/17px 'Inter', sans-serif;
  color: var(--text-default);
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1279px) {
  .techs__content {
    padding: 90px 50px 90px;
  }

  .techs__heading {
    margin: 0 0 80px;
  }

  .techs__subheading {
    margin: 0 auto 22px;
  }

  .techs__text {
    margin: 0 auto 83px;
    font: 400 12px/18px 'Inter', sans-serif;
  }

  .techs__list-item {
    width: 84px;
    height: 57px;
    font: 400 12px/15px 'Inter', sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    background-color: var(--background-default);
  }

  .techs__content {
    padding: 70px 18px 70px;
  }

  .techs__heading {
    margin: 0 0 60px;
  }

  .techs__subheading {
    font: 400 30px/36px 'Inter', sans-serif;
    margin: 0 auto 24px;
  }

  .techs__text {
    margin: 0 auto 50px;
    font: 400 11px/16px 'Inter', sans-serif;
  }

  .techs__list {
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 329px) {
  .techs__list {
    justify-content: flex-start;
    max-width: 179px;
  }
}
